@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

html {
    background-image: url('img/Mephysics.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-position: center center;
    background-color: transparent;
}

.mainpage {
    text-align: center;
    color: whitesmoke;
    text-shadow: 1px 1px black;
}

.mainpagecenter {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font: 25px Helvetica, sans-serif;
}

.copyrightfooter {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    position: fixed;
    color: whitesmoke;
    background-color: #333;
    text-align: center;
    width: 100%;
    bottom: 0%;
    left: 0%;
    font-family: Helvetica;
    font-size: 15px;
    padding-top: 15px;
}

a {
    color: #dc8100; 
    text-decoration: none; 
}

a:hover { 
    color: #333; 
    text-decoration: none; 
}

.navbard {
    color:#6c757d;
    text-decoration: none;
}

.navbard:hover {
    color:#6c757d;
    text-decoration: none;
}

.navbarc {
    color:#aaaaaa;
    text-decoration: none;
}

.navbarc:hover {
    color: #f8f9fa;
    text-decoration: none;
    text-shadow: 1px 1px 2px whitesmoke;
}

.navbarposition {
    padding-left: 10px;
}

.fade-in {
    animation: fadeIn;
    animation-duration: 1s;
    animation-delay: 0;
    text-decoration: none;
}

.fade-out {
    animation: fadeOut;
    animation-duration: 1s;
    animation-delay: 0;
    text-decoration: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@media only screen and (min-width: 50px) and (orientation: portrait) {
    .mainpage {
        width: 200px;
        font-size: 10px;
    }
}

@media only screen and (min-width: 50px) and (orientation: portrait) {
    h1 {
        font-size: 20px;
    }
}

@media only screen and (min-width: 310px) and (orientation: portrait) {
    .mainpage {
        width: 300px;
        font-size: 20px;
    }
}

@media only screen and (min-width: 310px) and (orientation: portrait) {
    h1 {
        font-size: 30px;
    }
}

@media only screen and (min-width: 568px) and (orientation: portrait) {
    .mainpage {
        width: 500px;
        font-size: 30px;
    }
}

@media only screen and (min-width: 568px) and (orientation: portrait) {
    h1 {
        font-size: 40px;
    }
}