html {
    background-image: url('img/Mephysics.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-position: center center;
    background-color: transparent;
}

.maintenancepage {
    color: whitesmoke;
    text-shadow: 1px 1px black;
}

.maintenancepagecenter {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font: 24px Helvetica, sans-serif;
}

.copyrightfooter {
    position: absolute;
    color: whitesmoke;
    background-color: #333;
    text-align: center;
    width: 100%;
    bottom: 0%;
    left: 0%;
    font-family: Helvetica;
    font-size: 15px;
    padding-top: 15px;
}

a {
    color: #dc8100; 
    text-decoration: none; 
}

a:hover { 
    color: #333; 
    text-decoration: none; 
}

.navbarc {
    color:#6c757d;
    text-decoration: none;
}

.navbarc:hover {
    color: #f8f9fa;
    text-decoration: none;
}

.fade-in {
    animation: fadeIn;
    animation-duration: 1s;
    animation-delay: 0;
    text-decoration: none;
}

.fade-out {
    animation: fadeOut;
    animation-duration: 1s;
    animation-delay: 0;
    text-decoration: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}